@import "../../../../assets/scss/settings/variables";

.hero-section {
  min-height: 100vh;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .logo {
    margin-bottom: 40px;
    svg {
      width: 320px;
    }
    display: flex;
    justify-content: center;
  }

  .claim {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .date {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1em;
  }

  .claims {
    font-size: 2rem;
    text-align: center;
    color: var(--turquoise);
  }

}
