body {
  font-family: 'Domine', serif;
  min-height: 100vh;
  background: var(--dark-blue);
}


img {
  max-width: 100%;
  height: auto;
}

.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.strikethrough {
  text-decoration: line-through;
}
