@import "../../assets/scss/settings/variables";
@import "@/assets/scss/mixins";

.page--sps {
  background: $white;
  color: $black;

  .page__header {
    text-align: center;
    margin-bottom: 20px;
  }

}
